*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body
  {
    background: url("https://images.pexels.com/photos/804463/pexels-photo-804463.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    
    
  }
  .row
  {
      background-color: rgba(255, 255, 255, 0.61);
      backdrop-filter: blur(5px);
      border-radius: 30px;
  }
   img
  {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    max-height: 600px;
    
  } 

  .btn
  {
    font-weight: bold;
  }

  .form-row
  {
    font-size: larger;
    font-weight: bolder;
  }
  
  