<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
        <form>
            <p>PNR: </p>
            <input type="text" name="pnr" disabled value='{{pnr}}'><br/>

            <p>Name: </p>
            <input type="text" name="name" disabled value='{{name}}'><br/>

            <p>Tag ID: </p>
            <input type="text" name="tagid" disabled value='{{data}}'>
            <h3>Refresh page to scan again</h3>
            <button href="/registration">Continue</button>
        </form>
    </body>
</html>