<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
<!-- NAVBAR -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Luggage Tracking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Check_In</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


        <form action="/update", method="POST">
            <p>PNR: </p>
            <input type="text" name="pnr" value='{{pnr}}'><br/>

            <p>Name: </p>
            <input type="text" name="name" value='{{name}}'><br/>

            <p>Flight No.</p>
            <input type="text" name="flightno" value='{{fno}}'>

            <p>Tag ID: </p>
            <input type="text" name="tagid" value='{{data}}'>
            <button type="submit">Update</button>
            <a href="/registration">Continue</a>
        </form>
    </body>
</html>
<script>
    function update(){
        location.href = "/update";
    }
</script>