<!DOCTYPE html>
<html>
    <head>
        <title>Confirmation</title>
    </head>
    <body>
        <form action="/update", method="POST">
            <p>PNR: </p>
            <input type="text" name="pnr" value='{{pnr}}'><br/>

            <p>Name: </p>
            <input type="text" name="name" value='{{name}}'><br/>

            <p>Flight No.</p>
            <input type="text" name="flightno" value='{{fno}}'>

            <p>Tag ID: </p>
            <input type="text" name="tagid" value='{{data}}'>
            <button type="submit">Update</button>
            <a href="/registration">Continue</a>
        </form>
    </body>
</html>
<script>
    function update(){
        location.href = "/update";
    }
</script>