<html>
<head>
<title>Page Title</title>
</head>
<body>

    <h3 style="text-align: center;">Get tag ID</h3>
        <div class="content">
            <form action="/read", method="POST">
            <center>
                <table class="commontable">
                    <tr>
                        <td><button class="btn" style="width: 100%;" type="submit">Read RFID tag</button></td>
                    </tr>
                    <td></td>
                    <tr><td>
                        <h1> Tag ID: {{ data }} </h1>
                    </td></tr>
                </table>
            </center>
            </form>
        </div>
</body>
</html>
