<html>
    <head><title>Temp page</title></head>
    <body>
        <form action="/read", method="POST">

            <label for="pnr">PNR :</label>
            <input type="text" name="pnr" id="pnr" class="form-control my-3 p-3" placeholder="PNR" required>
          
            <label for="flight_no">Flight No :</label>
            <input type="text" name="flightno" id="flight_no" class="form-control my-3 p-3" placeholder="Flignt no." required>
          
            <label for="p_name">Passenger Name :</label>
            <input type="text" name="name" id="p_name" class="form-control my-3 p-3" placeholder="Passenger Name" required>

            <button type="submit" class="btn btn-outline-dark">Check In</button>
        </form>
    </body>
</html>