<html>
    <head>
        <title>Update</title>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <link rel="stylesheet" href="sweetalert2.min.css">
    </head>
    <body>
        <form action="/update" method="post">
        <button type="submit">Scan Tag</button>
        </form>
    </body>
</html>

<script>
    function rfidAnimate(){
      let timerInterval
      Swal.fire({
        title: 'Scanning RFID Tag',
        html: '',
        timer: 5000,
        timerProgressBar: true,
        didOpen: () => {
          Swal.showLoading()
          const b = Swal.getHtmlContainer().querySelector('b')
          timerInterval = setInterval(() => {
            b.textContent = Swal.getTimerLeft()
          }, 100)
        },
        willClose: () => {
          clearInterval(timerInterval)
        }
      }).then((result) => {
        /* Read more about handling dismissals below */
        if (result.dismiss === Swal.DismissReason.timer) {
          //console.log('I was closed by the timer')
        }
      })
    }
  </script>